
}
.container{
    display: grid;
    width: 80vw;
    min-height: 100vh;
    margin:auto;
    justify-content:center;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto 1fr 40px;
    grid-template-areas: 
    "hd hd hd hd"
    "nav nav nav nav"
    "main main main main"
    "ft ft ft ft";
    border: 3px solid yellow;
}


.header{
    font-size: 23px;
    border: 2px solid blue;
    grid-area: hd;
}

.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 14px;
    border: 2px solid blue;
    grid-area: nav;
}
.nav > a{
    margin: 2px;
    white-space: nowrap;
    text-align:center;
    border: 1px red solid;

}

.main{
    display: flex;
    flex-direction:column;
    justify-content: center;
    font-size: 14px;
    border: 2px solid blue;
    grid-area: main;
    /* overflow-y: auto; */   
}

}
.footer{
    font-size: 8px;
    border: 2px solid blue;
    grid-area: ft;
}

/* cardholder inside main to center items AND have them evenly spaced */
.cardholder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: center; */
    border: 1px solid aquamarine;
}
.card{
    display: flex;
    /* flex-shrink: 0;
    flex-grow:1; */

    flex-direction: column;
    height: max-content;
    width: 200px;
    margin: 20px;
    border-radius: 8px;
    /* border: 1px solid red; */
    /* Shadows for card effect + animation */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card p, .card h3 {
    padding:8px;
}

   
}
.card a {
    color: white;
    text-decoration: none;
    /* margin-top: auto; */

}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    padding:5px;
    border-radius: 0px 0px 8px 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }


.button:hover {
    background-color: rgb(82, 202, 86);
}




/*Class Selector */
.title {
    font-size: 30px;
}


/* -------------------------------------- */
/* -----------responsive stuff----------- */

/* Small Screens */
@media(max-width:600px){
    .nav{
        
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            font-size: 14px;
            border: 2px solid blue;
            grid-area: nav;
    }

    .nav > a{
        text-align: center;
        margin: 2px;
        padding: 2px;
        white-space: nowrap;
        border: 1px red solid;
        background-color: chartreuse;
    
    }
}