/* global variables to change the website's 'theme' */

:root {
    --bg-color: #aad576;
    --accent-color: #94aa78;
    --button-color: #48533a;
    --button-color2: rgb(82, 202, 86);
    --txt-color: rgba(31, 30, 30, 0);
    --link-color: blue;
}
    /* use them in style attributes like that:
        #div1 {
            background-color: var(--main-bg-color);
            color: var(--main-txt-color);
            ...
        }
    */


body{
    margin: 0px;
    padding:10px;
    background-color: var(--bg-color);
    font-family: 'Montserrat', sans-serif;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1{
    font-size: 1.5em;
    font-weight: bolder;
   
}
h2{
    font-size: 1.1em;
    font-weight: bold;
}

h3{
    font-size: 1em;
    margin-top: 15px;
}